{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": ["^@?[a-z]", "^~", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
